// Dark Theme
// By:
.dark[app-theme] {
  --background: #121640ff;
  --text: #EFF3F8;
  --grey: #999;
  --secondary: #202020;
  --secalt: #111;
  --textalt: #fff;
  --norm: #eee;
  --formbg: #111;
  --link: #01C2CBFF;
  --hover: #e35dd9ff;
  --border: #484848;
  --mborder: #484848;
  --filter: invert(98%) sepia(1%) saturate(264%) hue-rotate(181deg) brightness(116%) contrast(100%);
  --unread: #1a293f;
  --topbar: #2E2E2E;
  --cblue: #e35dd9ff;
  --cred: #fe3537;
  --cgreen: #19B028;
  --cgold: #FFD700;
  --button: #e35dd9ff;
  --loading: #e35dd9ff;
}
